[submodule "earlysim"]
	path = earlysim
	url = git@github.com:cornelisnetworks/earlysim.git
[submodule "hlc"]
	path = hlc
	url = git@github.com:cornelisnetworks/hlc.git
[submodule "lnr"]
	path = lnr
	url = git@github.com:cornelisnetworks/lnr.git
